<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yfz.main">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Main">
        <activity android:name=".structuralPattern.decorator.DecoratorPatternActivity"></activity>
        <activity android:name=".structuralPattern.proxy.ProxyPatternActivity" />
        <activity android:name=".structuralPattern.adapter.AdapterPatternActivity" />
        <activity android:name=".creationalPattern.singleton.SingletonPatternActivity" />
        <activity android:name=".creationalPattern.factory.AbstractFactoryPatternActivity" />
        <activity android:name=".creationalPattern.factory.FactoryMethodPatternActivity" />
        <activity android:name=".creationalPattern.factory.SimpleFactoryPatternActivity" />
        <activity
            android:name=".creationalPattern.builder.BuildPatternActivity"
            android:exported="true" />
        <activity android:name=".behaviorPattern.strategy.StrategyPatternActivity" />
        <activity android:name=".behaviorPattern.observer.ObserverPatternActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>